{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>SpotMetal - Home</title>
</head>
<body>
    <nav class="navbar stick-top navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">SpotMetal</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-left">
                <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}"><i class="fa fa-line-chart"></i> Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'settings' %}"><i class="fa fa-cog"></i> Settings</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'aboutUs' %}"><i class="fa fa-info"></i> About Us</a></li>
            </ul>
            <div class="btn-group dropdown">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle"></i> User
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> My Profile</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-light p-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-5">
                <h4><i class="fa fa-search"></i> Search</h4>
                <ul>
                    <li><b>You may set up/combine as many filters as you need.</b></li>
                    <li>Tip #1: to search for part of a word, use * as wildcards (e.g. searching "hel*" will return results containing "hell" or "helm").</li>
                    <li>Tip #2: to exclude terms, use the - symbol (e.g. searching "death -melodic" will return results that do not contain the word "melodic").</li>
                    <li>Read more tips on searching possibilities <a href="https://www.metal-archives.com/content/help?index=3#tab_db">here</a>.</li>
                </ul>
                <form method="post" class="form" autocomplete="off">{% csrf_token %}
                    <div class="p-1">
                        <div class="form-row">
                            <div class="col-sm-3">
                                <label class="col-form-label col-form-label-sm"><b>Band Name</b></label>
                                {{ form.bandName|addclass:"form-control form-control-sm" }}
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label col-form-label-sm"><b>Genre</b></label>
                                {{ form.genre|addclass:"form-control form-control-sm" }}
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label col-form-label-sm"><b>Country</b></label>
                                {{ form.country|addclass:"form-control form-control-sm" }}
                            </div>
                            <div class="col-sm-3">
                                <label class="col-form-label col-form-label-sm"><b>Status</b></label>
                                {{ form.status|addclass:"form-control form-control-sm" }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-8">
                                <label class="col-form-label col-form-label-sm"><b>Year of formation</b></label><br>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label class="col-form-label-sm">From</label>
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.yearCreationFrom|addclass:"form-control form-control-sm" }}
                                    </div>
                                    <div class="col-sm-1">
                                        <label class="col-form-label-sm">To</label>
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.yearCreationTo|addclass:"form-control form-control-sm" }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label col-form-label-sm"><b>Lyrical Themes</b></label>
                                {{ form.themes|addclass:"form-control form-control-sm" }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-4">
                                <label class="col-form-label col-form-label-sm"><b>City/state/province:</b></label>
                                {{ form.location|addclass:"form-control form-control-sm" }}
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label col-form-label-sm"><b>Label</b></label>
                                {{ form.bandLabelName|addclass:"form-control form-control-sm" }}
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label col-form-label-sm"><b>Additional notes</b></label>
                                {{ form.bandNotes|addclass:"form-control form-control-sm" }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-search"></i> Search</button>
                </form>
            </div>
            <div class="col-7">
                <div class="row justify-content-sm-between">
                    <div class="col-auto"><h4><i class="fa fa-check-circle"></i> Results</h4></div>
                    <div class="col-auto">
                        <div class="btn-group dropdown">
                        <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-flash"></i> Options
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fa fa-heart"></i> Make a Playlist</a>
                            <a class="dropdown-item" href="{% url 'saveToFile' %}"><i class="fa fa-download"></i> Save to file</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="resultTable" class="table table-sm table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col"><input id="thCheck" type="checkbox" value=""></th>
                                <th scope="col">Name</th>
                                <th scope="col">Spotify Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for band in bands %}
                                <tr>
                                    <td><input type="checkbox" value=""></td>
                                    <td>{{ band.0 }}</td>
                                    <td><a href="{{ band.1 }}" class="badge badge-success">{{ band.1 }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- JS, Popper.js, and jQuery -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>